
.checkoutcontainer {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.checkout {
  flex: 2;
}
.ordersummary {
  flex: 1;
  border: 1px solid black;
  padding: 15px;
}
.checkout input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid black;
}
.checkout button {
  width: 100%;
  padding: 12px;
  background: darkblue;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.summaryitem {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.ordersummary h2 {
  margin-top: 10px;
}