.product-management{
    width: 95%;
    margin: 40px auto;
    padding: 25px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}


.product-management h2{
    text-align: center;
    font-size: 38px;
    color: darkblue;
    margin-bottom: 25px;
}

.product-management h2::after{
    content: "";
    width: 80px;
    height: 4px;
    background: darkblue;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

.table-wrapper{
    overflow-x: auto;
}


.product-table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
}

.product-table th{
    background: linear-gradient(135deg,darkblue,#0d47a1);
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}


.product-table td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #444;
}

.product-table tr:hover{
    background: #f5f9ff;
}


.description-cell{
    max-width: 250px;
    white-space: normal;
    word-break: break-word;
    line-height: 1.5;
}


.product-table img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.product-table img:hover{
    transform: scale(1.1);
}

.edit-btn{
    padding: 10px 16px;
    margin: 4px;
    border: none;
    border-radius: 8px;
    background: #2e7d32;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-btn:hover{
    background: #1b5e20;
    transform: translateY(-2px);
}

.delete-btn{
    padding: 10px 16px;
    margin: 4px;
    border: none;
    border-radius: 8px;
    background: #e53935;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.delete-btn:hover{
    background: #c62828;
    transform: translateY(-2px);
}

@media(max-width: 768px){

    .product-management{
        width: 100%;
        padding: 15px;
    }

    .product-management h2{
        font-size: 28px;
    }

    .product-table{
        min-width: 900px;
    }

    .product-table th,
    .product-table td{
        font-size: 14px;
        padding: 10px;
    }

    .product-table img{
        width: 60px;
        height: 60px;
    }
}