.order-history {
  padding: 20px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th {
  background-color: darkblue;
  color: white;
  padding: 10px;
  font-size: 20px;
}
td {
  padding: 10px;
  border: 1px solid grey;
  font-size: 18px;
  text-align: center;
}
.product-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;

}
